{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Recrutement Force de l'Ordre #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/division_image.css">
{% endblock %}

{% block description %}Section Recrutement{% endblock %}

{% block key %}Section Recrutement{% endblock %}

{% block title %}Section Recrutement{% endblock %}

{% block main %}
  {# Ajouter un agent #}
  <section class="contenu">
    <h1>Ajouter un {{ _BDDFaction }}</h1>

    <form class="connexion" action="/add/cop" method="post">
      {% set __add = true %}
      <!-- Division des parties -->
      <section class="div_content_photo">
        <section class="part_add">
          <div>
            <label>Civil :</label>
            <select id="personne_type" name="nom_civil" onchange="affiche_photo_personne();">
              {% for personne in personnes %}
                <option value="{{ personne.id }}">{{ personne.nom|capitalize }} {{ personne.prenom|capitalize }}</option>
              {% else %}
                {% set __add = false %}
                <option value="">Tous les citoyens ont un travail</option>
              {% endfor %}
            </select>
          </div>
        </section>

        <section class="part_img">
          <div>
            <img id="image_civil" src="/assets/img/identité/temp.png" alt="Photo Inconnu">
          </div>
        </section>
      </section>

      {% if _agent.hab_1 == 2 and __add %}
      <div class="btn">
        <button class="form_button" type="submit" name="button">Ajouter</button>
      </div>
      {% endif %}
    </form>
  </section>

  {# Licencier un agent #}
  <section class="contenu">
    <h1>Licencier un {{ _BDDFaction }}</h1>

    <form class="connexion" action="/edit/licenciement" method="post">
      {% set __remove = true %}
      <!-- Division des parties -->
      <section class="div_content_photo">
        <section class="part_add">
          <div>
            <label>Nom :</label>
            <select id="cop_type" name="id_cop_li" onchange="affiche_photo_cop();">
              {% for cop in cops %}
                <option value="{{ cop.lspd_id }}">{{ cop.nom|capitalize }} {{ cop.prenom|capitalize }}</option>
              {% else %}
                {% set __remove = false %}
                <option value="">Aucun agent enregitré</option>
              {% endfor %}
            </select>
          </div>
        </section>

        <section class="part_img">
          <div>
            <img id="image_cop" src="/assets/img/identité/temp.png" alt="Photo Inconnu">
          </div>
        </section>
      </section>

      {% if _agent.hab_1 == 2 and __remove %}
      <div class="btn">
        <button class="form_button" type="submit" name="button">Licencier</button>
      </div>
      {% endif %}
    </form>
  </section>

  {# Réhabiliter un agent #}
  <section class="contenu">
    <h1>Réhabiliter un {{ _BDDFaction }}</h1>

    <form class="connexion" action="/edit/rehabilitaton" method="post">
      {% set __readd = true %}
      <!-- Division des parties -->
      <section class="div_content_photo">
        <section class="part_add">
          <div>
            <label>Nom :</label>
            <select id="cop_type_2" name="id_cop" onchange="affiche_photo_cop_2();">
              {% for cop in oldcops %}
                <option value="{{ cop.lspd_id }}">{{ cop.nom|capitalize }} {{ cop.prenom|capitalize }}</option>
              {% else %}
                {% set __readd = false %}
                <option value="">Aucun agent licencié</option>
              {% endfor %}
            </select>
          </div>
        </section>

        <section class="part_img">
          <div>
            <img id="image_cop2" src="/assets/img/identité/temp.png" alt="Photo Inconnu">
          </div>
        </section>
      </section>

      {% if _agent.hab_1 == 2 and __readd %}
      <div class="btn">
        <button class="form_button" type="submit" name="button">Réhabiliter</button>
      </div>
      {% endif %}
    </form>
  </section>
{% endblock %}

{% block script %}
<script src="/assets/script/event_saisie.js"></script>
<script type="text/javascript">
  affiche_photo_personne();
  affiche_photo_cop();
  affiche_photo_cop_2();
</script>
{% endblock %}
