{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Fiche Force de l'ordre #}
{% extends "_base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Information Agent{% endblock %}

{% block key %}Information Agent{% endblock %}

{% block title %}{{ agent.grade|capitalize }} {{ agent.nom|capitalize }}{% endblock %}

{% block main %}

  {# Fiche Policier #}
  {% include "/templates/fiche_cop.twig" %}

  <section class="habilitation">
    <h1>Habilitation</h1>
    <div class="grille">
      {# Mise en forme variable #}
      {% set __superListe = [
          {'type': _Hab1, 'value': agent.hab_1 },
          {'type': _Hab2, 'value': agent.hab_2 },
          {'type': _Hab3, 'value': agent.hab_3 },
          {'type': _Hab4, 'value': agent.hab_4 },
          {'type': _Hab5, 'value': agent.hab_5 },
          {'type': _Hab6, 'value': agent.hab_6 },
          {'type': _Hab7, 'value': agent.hab_7 },
          {'type': _Hab8, 'value': agent.hab_8 },
          {'type': _Hab9, 'value': agent.hab_9 },
          {'type': _Hab10, 'value': agent.hab_10 },
          {'type': _Hab11, 'value': agent.hab_11 },
          {'type': _Hab12, 'value': agent.hab_12 },
          {'type': _Hab13, 'value': agent.hab_13 },
          {'type': _Hab14, 'value': agent.hab_14 },
          {'type': _Hab15, 'value': agent.hab_15 }
        ]
      %}

      {% for __item in __superListe %}
        {% if __item.type != "" and __item.type != "vide" %}
          <p class="{% if __item.value == 2 %}green{% elseif __item.value == 1 %}orange{% else %}red{% endif %}">{{ __item.type }}</p>
        {% elseif __item.type == "vide" %}
          <p></p>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  {# Liste Arme #}
  {% include "/templates/liste_arme.twig" %}

  {# Liste Voiture #}
  {% include "/templates/liste_vehicule.twig" %}

  {% if (_agent.matricule != agent.matricule) and (_agent.hab_1 > 1) %}
  <section class="liste">
    <h1>Rapport</h1>
    {% for rapport in rapports %}
      <div class="content">
        <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
        <p>{{ rapport.titre|capitalize }}</p>
        <a href="/rapport/{{ rapport.id }}">Consulter</a>
      </div>
    {% else %}
      <div class="content">
        <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
        <p>Aucun rapport déposé sur la personne</p>
      </div>
    {% endfor %}
  </section>
  {% endif %}

{% endblock %}

{% block script %}{% endblock %}
