{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Fiche Véhicule #}
{% extends "_base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Véhicule{% endblock %}

{% block key %}Véhicule{% endblock %}

{% block title %}Véhicule - {{ voiture.plaque }}{% endblock %}

{% block main %}
  <section class="info_personne">
    <h1>Informations Véhicule</h1>
    <img src="/assets/img/vehicule/{{ voiture.lien }}" alt="Photo {{ voiture.nom|capitalize }}">
    <p><strong>Modèle :</strong>{{ voiture.nom|capitalize }}</p>
    <p><strong>Couleur :</strong>{{ voiture.couleur|upper }}</p>
    <p><strong>Plaque :</strong>{{ voiture.plaque|upper }}</p>
    <p><strong>Propriétaire :</strong><a href="/civil/{{ proprio.id }}">{{ proprio.nom|capitalize }} {{ proprio.prenom|capitalize }}</a></p></p>
    <p><strong>Enregistré Par :</strong><a href="/{{ _membreFaction }}/{{ policier.matricule }}">{{ policier.grade|capitalize }} {{ policier.nom|capitalize }}</a></p></p>
    <p><strong>En circulation :</strong>{% if voiture.circulation == 1 %}Oui{% elseif voiture.circulation == 0 %}Non{% else %}Non{% endif %}</p>
    {% if _agent.editer != 0 %}
    <div class="lien">
      <a href="/vehicule/{{ voiture.plaque }}/edit">Modifier la fiche</a>
    </div>
    {% endif %}
  </section>

  <section class="liste">
    <h1>Délits Routiers</h1>

    {% for delit in delits %}
    <div class="content">
      <p>{{ delit.nom|capitalize }}</p>

      {% if delit.etat == 2 %}
        <p class="">Fermé</p>
      {% elseif delit.etat == 1 %}
        <p class="">Charges Abandonnées</p>
      {% else %}
        <p class="red">En cours</p>
      {% endif %}

      <a href="/delit-routier/{{ delit.delit_id }}">Consulter</a>
    </div>
    {% else %}
    <div class="content">
      <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
      <p>Ce véhicule ne fait l'objet d'aucun délit</p>
    </div>
    {% endfor %}

{% endblock %}

{% block script %}{% endblock %}
