{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Edition Casier Judiciaire #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Modification Casier Judiciaire{% endblock %}

{% block key %}Modification Casier Judiciaire{% endblock %}

{% block title %}Modification Casier de {{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}{% endblock %}

{% block main %}
  <section class="info_personne">
    <h1 {% if civil.present == 0 %}style="color:#ff0000"{% endif %}>Fiche Citoyen</h1>
    <img src="/assets/img/identite/{{ civil.photo }}" alt="Photo Civil">
    <p><strong>Nom :</strong>{{ civil.nom|capitalize }}</p>
    <p><strong>Prénom :</strong>{{ civil.prenom|capitalize }}</p>
    <p><strong>Date de naissance :</strong>{{ civil.DOB|date("d/m/Y") }}</p>
    <p><strong>Téléphone :</strong>{{ civil.phone }}</p>
    <p><strong>Nationalité :</strong>{{ civil.nationality|upper }}</p>
    <p><strong>Sexe :</strong>{{ civil.sexe }}</p>
    <p><strong>Job :</strong><a href="{% if civil.job == _BDDFaction  %}/{{ _membreFaction }}/{{ policier.matricule }}{% endif %}">{{ civil.job }}</a></p>
    <p><strong>PPA :</strong>{% if civil.ppa == 1  %}Oui{% else %}Non{% endif %}</p>
    <p><strong>Permis :</strong>{% if civil.permis == 1  %}Oui{% else %}Non{% endif %}</p>
    <div class="lien">
      <a href="/civil/{{ civil.id }}">Retourner sur la fiche de {{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}</a>
    </div>
  </section>

  <form action="/casier-judiciaire/{{ delit.id_delit }}/modification" method="post">
    <section class="information_casier">
      <h1>Informations délit</h1>
      <img src="/assets/img/logo.png" alt="">
      <p><strong>Nom :</strong>{{ detail.intitule }}</p>
      <p><strong>Type :</strong>{% if detail.type_delit == 3 %}Grave{% elseif detail.type_delit == 2 %}Moyen{% else %}Léger{% endif %}</p>
      <p><strong>Amende :</strong>{{ detail.amende|number_format(2, ',', ' ') }} {{ _Devise }}</p>
      <p><strong>Temps de prison :</strong>{{ detail.temps_prison }} mois</p>
      <p><strong>Enregistré par :</strong><a href="/{{ _membreFaction }}/{{ ouvert.matricule }}">{{ ouvert.grade }} {{ ouvert.nom|capitalize }}</a></p></p>
      <p><strong>Enregistré le :</strong>{{ delit.enregistrer_le|date("d/m/Y") }}</p>
      <p><strong>État :</strong>{% if delit.etat == 2 %}Fermé{% elseif delit.etat == 1 %}Charges Abandonnées{% else %}En cours{% endif %}</p>
      <p><strong>Rapport :</strong></p>
      <p class="remarque"><textarea class="remarque" rows="8" cols="80" name="rapport">{{ delit.remarque }}</textarea></p>

      <div class="btn_modif">
        <button class="form_button" type="submit" name="button">Appliquer les modifications</button>
      </div>
    </section>
  </form>
{% endblock %}

{% block script %}{% endblock %}
