{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Edition Casier Judiciaire #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Modification Casier Judiciaire{% endblock %}

{% block key %}Modification Casier Judiciaire{% endblock %}

{% block title %}Modification Casier de {{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}{% endblock %}

{% block main %}
  {# Fiche Civil #}
  {% set _etat_ = {'goBack': 1} %}
  {% include "/templates/fiche_civil.twig" with _etat_ %}

  <form action="/casier-judiciaire/{{ delit.id_delit }}/modification" method="post">
    <section class="information_casier">
      <h1>Informations délit</h1>
      <img src="/assets/img/logo.png" alt="">
      <p><strong>Nom :</strong>{{ detail.intitule }}</p>
      <p><strong>Type :</strong>{% if detail.type_delit == 3 %}Grave{% elseif detail.type_delit == 2 %}Moyen{% else %}Léger{% endif %}</p>
      <p><strong>Amende :</strong>{{ detail.amende|number_format(2, ',', ' ') }} {{ _Devise }}</p>
      <p><strong>Temps de prison :</strong>{{ detail.temps_prison }} mois</p>
      <p><strong>Enregistrer par :</strong><a href="/{{ _membreFaction }}/{{ ouvert.matricule }}">{% if delit.enregistrer_name %}{{ delit.enregistrer_name }}{% else %}{{ ouvert.grade }} {{ ouvert.nom }}{% endif %}</a></p>
      <p><strong>Enregistré le :</strong>{{ delit.enregistrer_le|date("d/m/Y") }}</p>
      <p><strong>État :</strong>{% if delit.etat == 2 %}Fermé{% elseif delit.etat == 1 %}Charges Abandonnées{% else %}En cours{% endif %}</p>
      <p><strong>Rapport :</strong></p>
      <p class="remarque"><textarea class="remarque" rows="8" cols="80" name="rapport">{{ delit.remarque }}</textarea></p>

      <div class="btn_modif">
        <button class="form_button" type="submit" name="button">Appliquer les modifications</button>
      </div>
    </section>
  </form>
{% endblock %}

{% block script %}{% endblock %}
