{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Edition plainte civil #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Détail plainte{% endblock %}

{% block key %}Détail plainte{% endblock %}

{% block title %}Plainte sur {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block main %}
  {# Fiche Civil #}
  {% set _etat_ = {'goBack': 1} %}
  {% include "/templates/fiche_civil.twig" with _etat_ %}

  <form action="/detail-plainte/{{ plainte.id }}/modification" method="POST">
    <section class="information_casier">
      <h1>Informations sur la plainte</h1>
      <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
      <p><strong>Déposeur :</strong><a href="/civil/{{ deposeur.id }}">{{ deposeur.nom|capitalize }} {{ deposeur.prenom|capitalize }}</a></p>
      <p><strong>Détail de la plainte :</strong></p>
      <p class="remarque"><textarea class="remarque" rows="8" cols="80" name="rapport">{{ plainte.detail_plainte }}</textarea></p>
      <p><strong>Enregistrer par :</strong><a href="/{{ _membreFaction }}/{{ ouvert.matricule }}">{% if plainte.enregistrer_name %}{{ plainte.enregistrer_name }}{% else %}{{ ouvert.grade }} {{ ouvert.nom }}{% endif %}</a></p>
      <p><strong>Enregistré le :</strong>{% if plainte.enregistrer_le != NULL %}{{ plainte.enregistrer_le|date("d/m/Y") }}{% endif %}</p>
      <div class="btn_modif">
        <button class="form_button" type="submit" name="button">Appliquer les modifications</button>
      </div>
    </section>
  </form>
{% endblock %}

{% block script %}{% endblock %}
