{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{% extends "/impression/_model.twig" %}

{% block title %}Extrait Casier {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block titre %}Extrait Casier {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block main %}
  <h2>Casier Judiciaires</h2>
  {% for casier in casiers %}
    <p>{{ casier.nom }} =>
      {% if casier.etat == 2 %}
        Fermé
      {% elseif casier.etat == 1 %}
        Charges Abandonnées
      {% else %}
        En cours
      {% endif %}
    </p>
  {% else %}
    <p>Le civil n'a commis aucun délit</p>
  {% endfor %}

  <h2>Délits Routiers</h2>
  {% for route in routes %}
    <p>{{ route.nom }} =>
      {% if route.etat == 2 %}
        Fermé
      {% elseif route.etat == 1 %}
        Charges Abandonnées
      {% else %}
        En cours
      {% endif %}
    </p>
  {% else %}
    <p>Le civil n'a commis aucun délit</p>
  {% endfor %}
{% endblock %}
