{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Ajout Casier #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/division_image.css">
{% endblock %}

{% block description %}Ajout Casier{% endblock %}

{% block key %}Ajout Casier{% endblock %}

{% block title %}Ajout Casier{% endblock %}


{% block main %}
<section class="contenu">
  <h1>Ajout Délit Civil</h1>

  <form class="connexion" action="/insert/casier" method="post">

    <!-- v2.0.0 -->
    {% set __add = true %}
    {% set __nbdelit = false %}

    <!-- Division des parties -->
    <section class="div_content_photo">
      <section class="part_add">
        <div>
          <label>Citoyen :</label>

          <select id="personne_type" name="casier_owner"onchange="affiche_photo_personne();">
            {% for personne in personnes %}
              <option value="{{ personne.id }}">{{ personne.nom|capitalize }} {{ personne.prenom|capitalize }}</option>
            {% else %}
              {% set __add = false %}
              <option>Aucun civil recensé</option>
            {% endfor %}
          </select>
        </div>

        <!-- v2.1.0 -->
        {# Génération de la variable globale #}
        {% set __superVar = [] %}
        {% set __leger = { 'content': leger, 'name' : '----- Délit Léger -----' } %}
        {% set __moyen = { 'content': moyen, 'name' : '----- Délit Moyen -----' } %}
        {% set __grave = { 'content': grave, 'name' : '----- Délit Grave -----' } %}
        {% set __superVar = __superVar|merge([__leger, __moyen, __grave]) %}

        <div>
          <label>Délit :</label>
          <select name="delit_name">
            <option value="NULL">Sélectionner un délit</option>
            {% for __superItem in __superVar %}
              <option value="NULL">{{ __superItem.name }}</option>
              {% for delit in __superItem.content %}
                {% set __nbdelit  = true %}
                <option value="{{ delit.id }}">{{ delit.intitule|capitalize }} - {{ delit.amende|number_format(2, ',', ' ') }} $</option>
              {% endfor %}
            {% endfor %}
          </select>
        </div>

        <div>
          <label>Rapport : {{ _stat }}</label>
          <textarea name="rapport" placeholder="Insérer un éventuelle rapport"></textarea>
        </div>
      </section>

      <section class="part_img">
        <div>
          <img class="round_profil" id="image_civil" src="/assets/img/identité/temp.png" alt="Photo Inconnu">
        </div>
      </section>
    </section>

    {% if _agent.ajouter != 0 and __add and __nbdelit %}
    <div class="btn">
      <button class="form_button" type="submit" name="button">Enregistrer</button>
    </div>
    {% endif %}
  </form>

</section>
{% endblock %}

{% block script %}
<script src="/assets/script/event_saisie.js"></script>
<script type="text/javascript">
affiche_photo_personne();
</script>
{% endblock %}
