{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Signalement des armes #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/division_image.css">
{% endblock %}

{% block description %}Signalement Arme{% endblock %}

{% block key %}Signalement Arme{% endblock %}

{% block title %}Signalement Arme{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Signalement Arme</h1>

  <form id="formulaire_ajout_car" name="form_car" action="/insert/weapon" method="post">
    <!-- v2.0.0 -->
    {% set __add = true %}

    <!-- Division des parties -->
    <section class="div_content_photo">
      <section class="part_add">
        <div>
          <label>Modèle :</label>

          <select id="weapon_type" name="weapon_model" onchange="affiche_photo_arme();">
            {% for arme in armes %}
              <option value="{{ arme.id }}">{{ arme.nom|capitalize }}</option>
            {% else %}
              {% set __add = false %}
              <option>Aucun modèle d'arme enregistré</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <label>Propriétaire :</label>

          <select id="personne_type" name="weapon_owner" onchange="affiche_photo_personne();">

            {% for personne in personnes %}
              <option value="{{ personne.id }}">{{ personne.nom|capitalize }} {{ personne.prenom|capitalize }}</option>
            {% else %}
              {% set __add = false %}
              <option>Aucun civil rencencé</option>
            {% endfor %}
          </select>
        </div>
      </section>

      <section class="part_img">
        <div>
          <img id="image_arme" src="/assets/img/identité/temp.png" alt="Image Temporaire">
        </div>

        <div>
          <img id="image_civil" src="/assets/img/identité/temp.png" alt="Photo Inconnu">
        </div>

      </section>
    </section>

    {% if _agent.ajouter != 0 and __add %}
    <div class="btn">
      <button id="valid_button" class="form_button" type="submit" name="button">Enregistrer</button>
    </div>
    {% endif %}
  </form>

</section>
{% endblock %}

{% block script %}
<script src="/assets/script/event_saisie.js"></script>
<script type="text/javascript">
  affiche_photo_arme();
  affiche_photo_personne();
  verif_plaque();
</script>
{% endblock %}
